.titulo{
    background-color: #01415B;
}
.boton{
    background-color: #A6BC09;
    border: 2px solid #A6BC09;
}/* 
.boton :hover{
    background-color: #01415B !important;
    transition-duration: 0.3s;
    color: white;
} */

.btn-primary:hover{
    background-color: #01415B !important;
    transition-duration: 0.3s;
    color: white;
}